.App {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

div {
  background-color: white;
  width: 50px;
  height: 60px;
  margin: 10px;

}